.term-post {
  height:800px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.term-post-box {
  font-size: 35px;
  width: 600px;
  color: white;
  background-color: #343a40;
  margin:20px 100px;
  color: #6cb4e4;
  text-align: center;
  padding: 0.15em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);

}

.title {
  height: 30px;
  width: 600px;
  margin: 20px;
}

.reference {
  height: 30px;
  width: 600px;
  margin: 20px;
}

.text {
  height: 100px;
  width: 350px;
  resize:none;
  margin-bottom: 20px;
}

.genre-select{
  height: 30px;
  width: 350px;
}

.new-btn {
  width: 200px;
  margin-top: 20px;  
  text-align: center;
  border-radius: 4%;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s;
}


.tag-field{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: white;
}

.input-tag{
  padding-left: 10px;
}

.child{
  border-bottom:#666 1px solid;
  margin: 10px 0;
  padding-left: 11px;
}


.edit-btn-contents {
  width: 20%;
  text-align: center;
  margin-top: 10px 0 60px 0;

}

.edit-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 200px;
  height: 50px;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 4vh;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
  width: 200px;
  height: 50px;
  text-align: center;
  padding: 15px;
}
