.btn-sf-like {
  width: 140px;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s;
}

.btn-sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
}



.theme {
  font-size: 40px;
  color: white;
  background-color: #343a40;
  margin: 20px;
  color: #6cb4e4;
  text-align: center;
  padding: 0.15em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  min-width: 500px;
  overflow-x: scroll;
}

body {
  background-image: url('../../images/3888153_m.png');
  height: 100vh;
  width: auto;
  background-size: cover;
}

.scroll {
  background-attachment: scroll;
}

.term-container {
  margin: 100px 20px;
  background-color: white;
}

.main-container {
  display: flex;
  height: 100vh;

}
.left-container {
  background-color: #343a40;
  list-style: none;
  width: 200px;
  font-size: 20px;
  text-align: left;
  padding: 20px 20px 0 20px;
  line-height: 60px;

}

.right-container {
  align-items: center;
  overflow: scroll;
  width: calc(100% - 25%);
  line-height: 50px;
}

.left-top {
  text-align: center;
  font-size: 20px;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 5px #7db4e6;
  border-bottom: solid 3px #d7d7d7;
}

.detail-table {
  margin-bottom: 10px;
  width: 100%;
  min-width: 500px;
  overflow-x: scroll;
}

.detail-value-title {
  background-color: lightblue;
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  min-width: 500px;
  overflow-x: scroll;
}

.detail-term-category {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-category {
  background-color: #eee;
  width: 80%;
  padding: 5px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-term-reference {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-reference {
  background-color: #eee;
  width: 80%;
  padding: 5px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.detail-term-like {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-like {
  background-color: #eee;
  width: 80%;
  padding: 5px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.detail-term-tag {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-tag {
  background-color: #eee;
  width: 80%;
  padding: 5px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.detail-term-url {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-url {
  background-color: #eee;
  width: 80%;
  padding: 5px;
  border: 1px solid #dedede;
  font-size: 14px;
}
