body {
  background-image: url('/images/3888153_m.png');
  height: 100vh;
  background-size: cover;
}

.scroll {
  background-attachment: scroll;
}

.table {
  padding: 200px;
}


.term-show {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.term-box {

  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw 2vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.term-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.name {
  margin: 20px;
  color: white;
}

.term-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.term-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iterm-price-box>.term-price {
  font-size: 4vh;
  font-weight: bold;
}

.term-price-box>.term-postage {
  font-size: 16px;
}


.term-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.term-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}


.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-term {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  background-color: #eee;
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.another-term {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}


