.rails-name {
  padding: 1em 1em;
  color: white;
  background: transparent;
  border-left: solid 5px #7db4e6;
}

.post{
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.term{
  height:200px;
  background-color:lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 20px;
}

.term-genre{
  font-size: 16px;
  border: 1px solid;
  padding: 5px;
  background-color: lightblue;
}

.term-title{
  font-size: 20px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.show-lists{
  width: 150px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  top: 80px;
  left: 450px;
  position: fixed;
  padding: 10px;
  background-color: #343a40;
  list-style: none;
}



.search-form{
display: flex;
margin-right: 20px;
}

.search-input {
  background: #ccddf5;
  border: none;
  height: 40px;
  width: 270px;
}

.search-button {
  cursor: pointer;
  border: none;
  background: #3879D9;
  color: #fff;
  outline : none;
  width: 70px;
}
.search-form ::-webkit-input-placeholder {
  color: #3879D9;
}

ul.topnav {
	overflow: hidden;
	margin: 0;
	padding: 10px 5px;
	list-style-type: none;
	background-color: #343a40;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
	color: white;
}
ul.topnav li a:hover:not(.active) {
	background-color: #a9bce2;
}
ul.topnav li a.active {
	background-color: #da3c41;
}
ul.topnav li.right {
  float: right;
  
}
@media screen and (max-width: 480px) {
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
}