<div class='footer t'>
  <div class='footer-contents'>
    <div class='rails-connect-details'>
      <h2 class='footer-content-head'>Rails Connectについて</h2>
      <ul>
        <li><%= link_to 'Rails Connect（運営)', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='rails-connect-details'>
      <h2 class='footer-content-head'>Rails Connectを見る</h2>
      <ul>
        <li><%= link_to 'ジャンル一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <p>© rails-connect</p>
</div>