<footer class='second-fotter-registration'>
  <div class='second-fotter-text-wrap'>
    <a class='second-fotter-text'>プライバシーポリシー</a>
    <a class='second-fotter-text'>Rails Connect利用規約</a>
  </div>
</footer>