<footer class='second-fotter'>
  <div class='second-fotter-text-wrap'>
    <p class='second-fotter-text'>プライバシーポリシー</p>
    <p class='second-fotter-text'>Rails Connect利用規約</p>
  </div>
  <%= image_tag "3888153_m.png", class:"second-fotter-logo"%>
</footer>